.bg{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.pokemon-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}